<!DOCTYPE html>
<html lang="en">
<head>
    <!--
        Authors: Blezyl-Anne Santos and Dailee Howard
        Date: January 29th, 2021
        File: pet-order2.html
    -->

    <meta charset="UTF-8">
    <title>Order!</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" >
</head>
<body>
    <div class="container">
        <h1>Order a Pet, Continued</h1>

        <form action="summary" method="post" class="p-3">
            <!-- Pet Name Input -->
            <div class="form-group">
                <label for="name" class="control-label">
                    What would you like to name your pet?
                    <input class="form-control" type="text" name="name" id="name">
                </label>
            </div>
            <!-- Pet Size Input -->

            <div class="form-group">
                <label for="size" class="control-label">
                    Pet Size:

                <repeat group="{{ @sizes }}" value="{{ @sizeOption }}">
                    <input type="checkbox" id="size" value="{{ @sizeOption }}">
                    <label>{{ @sizeOption }}</label>
                </repeat>
                </input>
                </label>
            </div>

            <div class="form-group">
                <label class="control-label">
                    Pet Accessories: </label>

                <repeat group="{{ @accessories }}" value="{{ @accessoryOption }}">
                    <label><input type="checkbox" name="accessory" value="{{ @accessoryOption }}"> {{ @accessoryOption }} </label>
                </repeat>


            </div>

            <!-- Submit Button -->
            <div class="col-xs-3 ">
                <input class="form-control btn btn-default" type="submit" value="Submit the Order">
            </div>
        </form>
    </div>
</body>
</html>