<!DOCTYPE html>
<html lang="en">
<head>
    <!--
        Authors: Blezyl-Anne Santos and Dailee Howard
        Date: January 29th, 2021
        File: pet-order2.html
    -->

    <meta charset="UTF-8">
    <title>Order!</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" >
</head>
<body>
    <div class="container">
        <h1>Order a Pet, Continued</h1>

        <form action="summary" method="post" class="p-3">
            <!-- Pet Name Input -->
            <div class="form-group">
                <label for="name" class="control-label">
                    Pet Name:
                    <input class="form-control" type="text" name="name" id="name">
                </label>
            </div>

            <!-- Pet Size Input -->
            <div>
                <label>Pet Size:</label>
                <repeat group="{{ @size }}" value="{{ @size }}">
                    <input type="radio" id="size" value="{{ @size }}">
                    <label>{{ @size }}</label>
                </repeat>
            </div>

            <div>
                <label>Pet Accessories:</label>
                <repeat group="{{ @accessory }}" value="{{ @accessory }}">
                    <input type="checkbox" id="accessory" value="{{ @accessory }}">
                    <label>{{ @accessory }}</label>
                </repeat>
            </div>

            <!-- Submit Button -->
            <div class="col-xs-3 ">
                <input class="form-control btn btn-default" type="submit" value="Submit the Order">
            </div>
        </form>
    </div>
</body>
</html>